<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
  </head>

  <body>
    <h2>Your Reading List</h2>
    <div th:unless="${#lists.isEmpty(books)}">
      <dl th:each="book : ${books}">
        <dt class="bookHeadline">
          <span th:text="${book.title}">书名</span> by
          <span th:text="${book.author}">作者</span>
          (ISBN: <span th:text="${book.isbn}">编号</span>)
        </dt>
        <dd class="bookDescription">
          <span th:if="${book.description}" 
                th:text="${book.description}">类型</span>
          <span th:if="${book.description eq null}">
                没有可用的描述</span>
        </dd>
      </dl>
    </div>
    <div th:if="${#lists.isEmpty(books)}">
      <p>你的书单上没有书</p>
    </div>
    
    <hr/>
    
    <h3>Add a book</h3>
    <form method="POST">
      <label for="title">书名:</label>
        <input type="text" name="title" id="title" size="50"></input><br/>
      <label for="author">作者:</label>
        <input type="text" name="author" id="author" size="50"></input><br/>
      <label for="isbn">编号:</label>
        <input type="text" name="isbn" id="isbn" size="15"></input><br/>
      <label for="description">类型:</label><br/>
        <textarea name="description" id="description" cols="80" rows="5"></textarea><br/>
      <input type="submit"></input>
    </form>
    
  </body>
</html>